/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
body {
    background-color: #009688;
    font-family: sans-serif;
}
.flex-container {
    display: flex;
    height: 100vh;
}
.container {
    align-self: center;
    width: 80%;
    margin: 0 auto;
    height: 95%;
}
ul {
    list-style-type: none;
}
.row {
    display: flex;
    width: 100%;
    height: 100%;
}

/* LEFT-COL */
.left-col {
    width: 35%;
    background-color: white;
    height: 100%;
    overflow: hidden;
}
/* user-nav */
.user-nav {
    background-color: #eaeaea;
    height: 60px;
}
.flex_user_nav {
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* left-nav-user */
.left-user-nav {
    display: flex;
    align-items: center;
}
.left-user-nav img {
    margin-left: 10px;
    width: 42px;
    border-radius: 50%;
}
.left-user-nav div {
    font-size: 14px;
}
/* right-nav-icon-user */
.right-nav-icon-user {
    display: flex;
}
.right-nav-icon-user > * {
    color: #b1b1b1;
    font-size: 18px;
    padding-left: 15px;
}
.right-nav-icon-user:last-child {
    margin-right: 20px;
}
/* notification-area */
.notification-area {
    height: 60px;
    background-color: #8edafb;
    display: flex;
    align-items: center;
}
.notification-area .bell-icon {
    display: inline-block;
}
.notification-area .bell-icon span {
    background-color: white;
    color: #8edafb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px;
    margin: 0 7px 0 15px;
    font-size: 17px;
}
.notification-area .text-bell {
    font-size: 14px;
}
.notification-area .text-bell:last-child a {
    font-size: 12px;
    color: #4f7484;
}
/* input-search-new-chat */
.input-search-new-chat {
    background-color: #fafafa;
    height: 40px;
    padding: 5px;
}
.search_new_chat-area {
    border: 1px solid #f5f5f5;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.search_new_chat-area .search-icon {
    margin: 0 35px 0 20px;
    color: #b6b9bc;
    font-size: 13px;
}
.search_new_chat-area .input-left-col {
    width: 300px;
    font-size: 12px;
    border: none;
}   
/* contacts */
.contacts-list {
    overflow-y: auto;
    height: calc( 100% - 150px);
}
.left-col .avatar-item {
    padding: 8px 15px;
    background-color: white;
}
.left-col .avatar-item:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
}
.left-col .avatar-item img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.avatar-item span {
    vertical-align: top;
    font-size: 14px;
}
.left-col .selected {
    background-color: #e9ebeb;
}

/* RIGHT-COL */
.right-col {
    width: 65%;
    height: 100%;
    border-left: 1px solid #d6d6d6;
    overflow: hidden;
}
/* interlocutor-nav */
.interlocutor-nav {
    background-color: #eaeaea; 
    height: 60px;
}
.flex_interlocutor_nav {
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* left-nav-interlocutor */
.left-interlocutor-nav {
    display: flex;
    align-items: center;
}
.left-interlocutor-nav img {
    margin-left: 10px;
    width: 42px;
    border-radius: 50%;
    margin-right: 12px;
}
.left-interlocutor-nav .interlocutor-info div:first-child {
    font-size: 14px;
}
.left-interlocutor-nav .interlocutor-info div:last-child {
    font-size: 12px;
    color: #6a7376;
}
/* right-nav-icon-interlocutor */
.right-nav-icon-interlocutor {
    display: flex;
}
.right-nav-icon-interlocutor > * {
    color: #b1b1b1;
    font-size: 18px;
    padding-left: 15px;
}
.right-nav-icon-interlocutor:last-child {
    margin-right: 20px;
}
/* main-chat-area */
.main-chat-area {
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}
.small_container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
/* messages */
.flex-message {
    margin-bottom: 10px;
    display: flex;
}
.message-properties {
    max-width: 60%;
    border-radius: 5px;
    min-width: 40%;
    padding: 15px 5px 4px 15px;
}
.interlocutor-message {
    background-color: white;
}
.flex-user-message {
    justify-content: flex-end;
}
.user-message {
    background-color: #d5f9ba;
}
.message-text div:first-child {
    font-size: 13px;
}
.message-text div:last-child {
    font-size: 10px;
    color: #b8bbbe;
    text-align: right;
    margin-top: 5px;
}
/* input-message-area */
.input-message-area {
    height: 60px;
    background-color: #f3eeea;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.input-message-area .smile-icon, .input-message-area .microphone-icon {
    color: #6c7477;
    font-size: 20px;
}
.right-col .input-message-area input {
    width: 650px;
    border-radius: 4px;
    border: 1px solid #f3eeea;
    height: 45px;
    padding-left: 12px;
    font-size: 12px;
}